@import './../../styles.scss';

.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:1000px;
}
.contact-header{
    display: flex;
    flex-direction: column;
}