@import './../../styles.scss';


.footer-container{
  position: absolute;
  left: 0;
  height: 20em;
  width: 100%;
  background-color: $red; 
  color: $white; 
  font-size: $primary-size;
 
}
.footer-email{
  font-style: $primary;
  font-size: $primary-size;
  text-decoration: none;
  color: $white;
}

.footer-email:visited{
  color: inherit;
}

.footer-email:hover {
    transition: all .5s ease-in-out;
    color:#B0E077;
  }
