// color scheme

$red: #FA5C66;
$blue:#00a4fa;
$green:#B0E077;
$white:#ffffff;


// font styles
$display:'aware-bold';
$primary:'Open Sans', Sans-Serif;

//font sizes
$display-size:20pt;
$primary-size:14pt;


div{
    font-family: $primary;
}
