@import "./../../styles.scss";


.nav-container {
  width: 100%;
  height: 200px;
  text-align: initial;
  position: fixed;
  top: 0px;
  vertical-align: bottom;
  align-items: flex-end;
  background-color: $white;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  list-style-type: none;
  margin-right: 10%;
  margin-top: 2%;
  float: right;
  vertical-align: text-bottom;
}


.nav-logo-img {
  padding: 1%;
  position: absolute;
  vertical-align: top;
  display: flex;
}

.nav-logo-img {
  position: absolute;
  left: 30px;
  vertical-align: top;
  margin-top: 0px;
  height: 100px;
}

.nav-link {
  color: $blue;
  text-decoration: none;
  font-size: $display-size;
  font-family: $display;
  padding: 5%;
}

.nav-link:visited {
  color: $blue;
}
.nav-link:hover,
.nav-link:active {
  transition: all 0.5s ease-in-out;
  color: $green;
}
@media (max-width:629px) {
  .nav-link {
    font-size: $mobile-size;
    padding: 5%;
  }
  
  img.nav-logo-img {
    display: flex;
    justify-content: center;
    height: 50px;
  }
}